# Supermarket Sales Data Cleaning and Analysis

This notebook documents the process of cleaning and preparing the "Supermarket Sales" dataset for analysis.

## Data Overview

The dataset contains information about supermarket sales, including:

* **Invoice ID:** Unique identifier for each transaction.
* **Branch:**  The branch where the sale occurred (A, B, or C).
* **City:** The city where the branch is located (Yangon, Mandalay, or Naypyitaw).
* **Customer type:** Type of customer (Member or Normal).
* **Gender:** Gender of the customer.
* **Product line:** Category of the product sold.
* **Unit price:** Price of a single unit of the product.
* **Quantity:** Number of units sold.
* **Tax 5%:** Tax applied to the sale.
* **Total:** Total amount of the sale.
* **Date:** Date of the sale.
* **Time:** Time of the sale.
* **Payment:** Payment method used.
* **Rating:** Customer rating of the shopping experience.

## Data Cleaning Process

### Quality Issues

* **Missing values:**  'Tax 5%' and 'Total' columns had missing values.
* **Invalid data types:** 'Unit price' contained 'USD' and needed to be converted to float. 'Invoice ID' contained hyphens and needed to be converted to int.
* **Inconsistent values:** 'Customer type' had inconsistent values (e.g., 'Memberr' instead of 'Member').
* **Incorrect values:** 'Rating' had an incorrect value (97). 'Quantity' had negative values.
* **Duplicate rows:**  Duplicate rows were identified and removed.

### Tidiness Issues

* **Multiple columns representing one variable:**  'Yangon', 'Naypyitaw', and 'Mandalay' columns represented the same variable 'City'.

### Cleaning Steps

1. **Remove duplicates:** Duplicate rows were dropped.
2. **Fix 'Rating' values:**  Replaced the incorrect value 97 with 9.7.
3. **Fix 'Quantity' values:**  Converted negative values to positive.
4. **Clean 'Invoice ID':** Removed hyphens and converted to int.
5. **Clean 'Unit price':** Removed 'USD' and converted to float.
6. **Clean 'Customer type':** Corrected inconsistent values.
7. **Fill missing values:**  Filled missing values in 'Tax 5%' and 'Total' columns based on other values.
8. **Clean 'Time':** Removed 'PM' and converted to 24-hour format.
9. **Create 'City' column:**  Combined 'Yangon', 'Naypyitaw', and 'Mandalay' columns into a single 'City' column.

## Data Tidying

* **Combined columns:**  The 'Yangon', 'Naypyitaw', and 'Mandalay' columns were combined into a single 'City' column by creating a function to map branch codes to city names.

## Final Dataset

The cleaned dataset was saved as 'Cleaned_data.csv'.

In [ ]:
import numpy as np
import pandas as pd

#1- Data Gathering

Loading the data from CSV file

In [ ]:
df = pd.read_csv('/content/Capstone Data - Supermarket Sales.csv')

#2- Data Assessing

##2-1 Quality issues

In [ ]:
df.head()

,Invoice ID,Branch,Yangon,Naypyitaw,Mandalay,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,Rating
0,750-67-8428,A,1,0,0,Normal,Male,Health and beauty,74.69,7,26.1415,NaN,1/5/2019,13:08,Ewallet,9.1
1,226-31-3081,C,0,1,0,Normal,Male,Electronic accessories,15.28,5,3.8200,80.2200,3/8/2019,10:29,Cash,9.6
2,631-41-3108,A,1,0,0,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,3/3/2019,13:23,Credit card,7.4
3,123-19-1176,A,1,0,0,Normal,Male,Health and beauty,58.22,8,NaN,489.0480,1/27/2019,8 - 30 PM,Ewallet,8.4
4,373-73-7910,A,1,0,0,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,2/8/2019,10:37,Ewallet,5.3

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1006 entries, 0 to 1005
Data columns (total 16 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Invoice ID     1006 non-null   object
 1   Branch         1006 non-null   object
 2   Yangon         1006 non-null   int64
 3   Naypyitaw      1006 non-null   int64
 4   Mandalay       1006 non-null   int64
 5   Customer type  1006 non-null   object
 6   Gender         1006 non-null   object
 7   Product line   1006 non-null   object
 8   Unit price     1006 non-null   object
 9   Quantity       1006 non-null   int64
 10  Tax 5%         997 non-null    float64
 11  Total          1003 non-null   float64
 12  Date           1006 non-null   object
 13  Time           1006 non-null   object
 14  Payment        1006 non-null   object
 15  Rating         1006 non-null   float64
dtypes: float64(3), int64(4), object(9)
memory usage: 125.9+ KB

In [ ]:
df.describe()

,Yangon,Naypyitaw,Mandalay,Quantity,Tax 5%,Total,Rating
count,1006.000000,1006.000000,1006.000000,1006.000000,997.000000,1003.000000,1006.000000
mean,0.338966,0.329026,0.332008,5.469185,15.479682,322.734689,7.056163
std,0.473594,0.470093,0.471168,3.014153,11.728320,245.865964,3.318751
min,0.000000,0.000000,0.000000,-8.000000,0.508500,10.678500,4.000000
25%,0.000000,0.000000,0.000000,3.000000,5.986500,123.789750,5.500000
50%,0.000000,0.000000,0.000000,5.000000,12.227500,254.016000,7.000000
75%,1.000000,1.000000,1.000000,8.000000,22.720500,471.009000,8.500000
max,1.000000,1.000000,1.000000,10.000000,49.650000,1042.650000,97.000000

In [ ]:
df['Customer type'].value_counts()

Customer type
Normal     515
Member     463
-           27
Memberr      1
Name: count, dtype: int64

In [ ]:
df[df['Unit price'].str.contains('USD', na=False)]

,Invoice ID,Branch,Yangon,Naypyitaw,Mandalay,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,Rating
97,871-39-9221,C,0,1,0,Normal,Female,Electronic accessories,12.45 USD,6,NaN,78.4350,2/9/2019,13:11,Cash,4.1
629,308-39-1707,A,1,0,0,Normal,Female,Fashion accessories,12.09 USD,-1,NaN,12.6945,1/26/2019,18:19,Credit card,8.2
830,237-44-6163,A,1,0,0,Normal,Male,Electronic accessories,10.56 USD,-8,NaN,88.7040,1/24/2019,17:43,Cash,7.6
881,115-38-7388,C,0,1,0,Member,Female,Fashion accessories,10.18 USD,-8,NaN,85.5120,3/30/2019,12:51,Credit card,9.5
903,865-41-9075,A,1,0,0,Normal,Male,Food and beverages,11.53 USD,-7,NaN,84.7455,1/28/2019,17:35,Cash,8.1

In [ ]:

df[df['Time'].str.contains('PM', na=False)]

,Invoice ID,Branch,Yangon,Naypyitaw,Mandalay,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,Rating
3,123-19-1176,A,1,0,0,Normal,Male,Health and beauty,58.22,8,NaN,489.048,1/27/2019,8 - 30 PM,Ewallet,8.4

In [ ]:
df[df.duplicated()]

,Invoice ID,Branch,Yangon,Naypyitaw,Mandalay,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,Rating
1000,588-01-7461,C,0,1,0,Normal,Female,Food and beverages,33.98,9,15.2910,321.1110,3/24/2019,10:43,Cash,4.2
1001,861-77-0145,C,0,1,0,Member,Male,Electronic accessories,81.97,10,40.9850,860.6850,3/3/2019,14:30,Cash,9.2
1002,479-26-8945,B,0,0,1,Member,Female,Sports and travel,16.49,2,1.6490,34.6290,2/5/2019,11:32,Ewallet,4.6
1003,210-67-5886,C,0,1,0,Member,Female,Health and beauty,98.21,3,14.7315,309.3615,2/5/2019,10:41,Credit card,7.8
1004,227-78-1148,B,0,0,1,Normal,Female,Fashion accessories,72.84,7,25.4940,535.3740,2/15/2019,12:44,Cash,8.4
1005,645-44-1170,A,1,0,0,Member,Male,Home and lifestyle,58.07,9,26.1315,548.7615,1/19/2019,20:07,Ewallet,4.3

1- Completeness :

'Tax 5%','Total' contain Nan

'Customer type' contains missing values
written as '-'

2- Validity :

'Unit price' must be float

'Invoice ID' must be int for better performance so we remove the '-' between the number to convert it to int

'Unit price' some values contains USD so it should be removed to convert the column to float

'Time' some values contains PM

3- accuracy :

Nothing here.

4- Consistency :
 'Rating' contain a value '97' which in incorrect it could be type issue

 'Quantity'  contains a minus number which in incorrect  

 We found duplicated rows must be droped

##2-2 Tidiness issues

In [ ]:
df.head(5)

,Invoice ID,Branch,Yangon,Naypyitaw,Mandalay,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,Rating
0,750-67-8428,A,1,0,0,Normal,Male,Health and beauty,74.69,7,26.1415,NaN,1/5/2019,13:08,Ewallet,9.1
1,226-31-3081,C,0,1,0,Normal,Male,Electronic accessories,15.28,5,3.8200,80.2200,3/8/2019,10:29,Cash,9.6
2,631-41-3108,A,1,0,0,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,3/3/2019,13:23,Credit card,7.4
3,123-19-1176,A,1,0,0,Normal,Male,Health and beauty,58.22,8,NaN,489.0480,1/27/2019,8 - 30 PM,Ewallet,8.4
4,373-73-7910,A,1,0,0,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,2/8/2019,10:37,Ewallet,5.3

Each variable forms a column and contains values


*   colomns 'Yangon'	'Naypyitaw'	'Mandalay' are values of a variable called city so we should make a 'City' column and decode the 3 columns in it

Each observation forms a row

*   nothing

Each type of observational unit forms a table

*   nothing

#3- Data Cleaning

##3-1 Fixing Quality Issues

In [ ]:
# making a copy fromthe dataframe :
df_clean = df.copy()
df_clean.head()

,Invoice ID,Branch,Yangon,Naypyitaw,Mandalay,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,Rating
0,750-67-8428,A,1,0,0,Normal,Male,Health and beauty,74.69,7,26.1415,NaN,1/5/2019,13:08,Ewallet,9.1
1,226-31-3081,C,0,1,0,Normal,Male,Electronic accessories,15.28,5,3.8200,80.2200,3/8/2019,10:29,Cash,9.6
2,631-41-3108,A,1,0,0,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,3/3/2019,13:23,Credit card,7.4
3,123-19-1176,A,1,0,0,Normal,Male,Health and beauty,58.22,8,NaN,489.0480,1/27/2019,8 - 30 PM,Ewallet,8.4
4,373-73-7910,A,1,0,0,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,2/8/2019,10:37,Ewallet,5.3

A- Define :

Removing duplicated rows

In [ ]:
df_clean[df_clean.duplicated()]

,Invoice ID,Branch,Yangon,Naypyitaw,Mandalay,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,Rating
1000,588-01-7461,C,0,1,0,Normal,Female,Food and beverages,33.98,9,15.2910,321.1110,3/24/2019,10:43,Cash,4.2
1001,861-77-0145,C,0,1,0,Member,Male,Electronic accessories,81.97,10,40.9850,860.6850,3/3/2019,14:30,Cash,9.2
1002,479-26-8945,B,0,0,1,Member,Female,Sports and travel,16.49,2,1.6490,34.6290,2/5/2019,11:32,Ewallet,4.6
1003,210-67-5886,C,0,1,0,Member,Female,Health and beauty,98.21,3,14.7315,309.3615,2/5/2019,10:41,Credit card,7.8
1004,227-78-1148,B,0,0,1,Normal,Female,Fashion accessories,72.84,7,25.4940,535.3740,2/15/2019,12:44,Cash,8.4
1005,645-44-1170,A,1,0,0,Member,Male,Home and lifestyle,58.07,9,26.1315,548.7615,1/19/2019,20:07,Ewallet,4.3

B- Code :

In [ ]:
df_clean.drop_duplicates(inplace=True)

C- Test :

In [ ]:
df_clean[df_clean.duplicated()]

Empty DataFrame
Columns: [Invoice ID, Branch, Yangon, Naypyitaw, Mandalay, Customer type, Gender, Product line, Unit price, Quantity, Tax 5%, Total, Date, Time, Payment, Rating]
Index: []

A- Define :

Fixing the type issue in the Rating column by replacing 97 with 9.7

In [ ]:
df_clean[df_clean['Rating'] > 10]

,Invoice ID,Branch,Yangon,Naypyitaw,Mandalay,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,Rating
157,307-85-2293,B,0,0,1,Normal,Male,Home and lifestyle,50.28,5,12.57,263.97,3/7/2019,13:58,Ewallet,97.0

B- Code :

In [ ]:
df_clean['Rating'] = df_clean['Rating'].replace(97.0, 9.7)

C- Test :

In [ ]:
df_clean[df_clean['Rating'] > 10]

Empty DataFrame
Columns: [Invoice ID, Branch, Yangon, Naypyitaw, Mandalay, Customer type, Gender, Product line, Unit price, Quantity, Tax 5%, Total, Date, Time, Payment, Rating]
Index: []

A- Define :

Removing the minus values from 'quantity' column

In [ ]:
df_clean[df_clean['Quantity'] <= 0]

,Invoice ID,Branch,Yangon,Naypyitaw,Mandalay,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,Rating
629,308-39-1707,A,1,0,0,Normal,Female,Fashion accessories,12.09 USD,-1,NaN,12.6945,1/26/2019,18:19,Credit card,8.2
830,237-44-6163,A,1,0,0,Normal,Male,Electronic accessories,10.56 USD,-8,NaN,88.7040,1/24/2019,17:43,Cash,7.6
881,115-38-7388,C,0,1,0,Member,Female,Fashion accessories,10.18 USD,-8,NaN,85.5120,3/30/2019,12:51,Credit card,9.5
903,865-41-9075,A,1,0,0,Normal,Male,Food and beverages,11.53 USD,-7,NaN,84.7455,1/28/2019,17:35,Cash,8.1

B- Code :

In [ ]:
df_clean['Quantity'] = np.where(df_clean['Quantity'] < 0, df_clean['Quantity'] * -1, df_clean['Quantity'])

C- Test :

In [ ]:
df_clean[df_clean['Quantity'] <= 0]

Empty DataFrame
Columns: [Invoice ID, Branch, Yangon, Naypyitaw, Mandalay, Customer type, Gender, Product line, Unit price, Quantity, Tax 5%, Total, Date, Time, Payment, Rating]
Index: []

A- Define :

'Invoice ID' , for better performance so we remove the '-' between numbers

B- Code :

In [ ]:
# Convert 'Invoice ID' to int and remove '-'
df_clean['Invoice ID'] = df_clean['Invoice ID'].str.replace('-', '')

C- Test :

In [ ]:
df_clean['Invoice ID'].dtype

dtype('O')

A- Define :

Removing USD from 'Unit price' values and convert it to flaot

In [ ]:
df_clean[df_clean['Unit price'].str.contains('USD', na=False)]

,Invoice ID,Branch,Yangon,Naypyitaw,Mandalay,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,Rating
97,871399221,C,0,1,0,Normal,Female,Electronic accessories,12.45 USD,6,NaN,78.4350,2/9/2019,13:11,Cash,4.1
629,308391707,A,1,0,0,Normal,Female,Fashion accessories,12.09 USD,1,NaN,12.6945,1/26/2019,18:19,Credit card,8.2
830,237446163,A,1,0,0,Normal,Male,Electronic accessories,10.56 USD,8,NaN,88.7040,1/24/2019,17:43,Cash,7.6
881,115387388,C,0,1,0,Member,Female,Fashion accessories,10.18 USD,8,NaN,85.5120,3/30/2019,12:51,Credit card,9.5
903,865419075,A,1,0,0,Normal,Male,Food and beverages,11.53 USD,7,NaN,84.7455,1/28/2019,17:35,Cash,8.1

B- Code :

In [ ]:
df_clean['Unit price'] = df_clean['Unit price'].str.replace(' USD', '').astype(float)

C- Test :

In [ ]:
df_clean['Unit price'].dtype

dtype('float64')

A- Define :

Fixing the issues in the 'Customer type' column

1- Replacing the value Memberr to Member

2- Replacing values that are '-' with the normal

In [ ]:
df_clean['Customer type'].value_counts()

Customer type
Normal     513
Member     459
-           27
Memberr      1
Name: count, dtype: int64

B- Code :

In [ ]:
# Handle 'Customer type' column
df_clean['Customer type'] = df_clean['Customer type'].replace({'Memberr': 'Member'})
df_clean['Customer type'] = df_clean['Customer type'].replace('-', 'Normal')

C- Test :

In [ ]:
df_clean['Customer type'].value_counts()

Customer type
Normal    540
Member    460
Name: count, dtype: int64

A- Define :

Fill NaNs in 'Tax 5%' and 'Total'

In [ ]:
df_clean.isna().sum()

Invoice ID       0
Branch           0
Yangon           0
Naypyitaw        0
Mandalay         0
Customer type    0
Gender           0
Product line     0
Unit price       0
Quantity         0
Tax 5%           9
Total            3
Date             0
Time             0
Payment          0
Rating           0
dtype: int64

B- Code :

In [ ]:
#Fill NaNs in 'Tax 5%' and 'Total'
df_clean['Tax 5%'].fillna(df_clean['Quantity'] * df_clean['Unit price'] * 0.05, inplace=True)
df_clean['Total'].fillna(df_clean['Quantity'] * df_clean['Unit price'] + df_clean['Tax 5%'], inplace=True)

C- Test :

In [ ]:
c = ['Tax 5%', 'Total']
df_clean[c].isna().sum()

Tax 5%    0
Total     0
dtype: int64

In [ ]:
df_clean['Total'].isna().sum()

0

A- Define :

Removing PM and ' - ' from 'Time' values and convert time to 24-Hour Clock

In [ ]:
df_clean[df_clean['Time'].str.contains('PM', na=False)]

,Invoice ID,Branch,Yangon,Naypyitaw,Mandalay,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,Rating
3,123191176,A,1,0,0,Normal,Male,Health and beauty,58.22,8,23.288,489.048,1/27/2019,8 - 30 PM,Ewallet,8.4

B- Code :

In [ ]:
df_clean['Time'] = df_clean['Time'].str.replace('PM', '')
df_clean['Time'] = df_clean['Time'].str.replace(' - ', ':')

In [ ]:
df_clean['Time'] = df_clean['Time'].str.replace('8:30 ', '20:30')

C- Test :

In [ ]:
df_clean[df_clean['Time'].str.contains('PM', na=False)]

Empty DataFrame
Columns: [Invoice ID, Branch, Yangon, Naypyitaw, Mandalay, Customer type, Gender, Product line, Unit price, Quantity, Tax 5%, Total, Date, Time, Payment, Rating]
Index: []

##3-2 Fixing Tidness Issues

A- Define :

Making a 'City' column and decoding the 3 columns 'Yangon' 'Naypyitaw' 'Mandalay' to it

B- Code :

In [ ]:
def branch_to_city(branch):
    if branch == 'A':
        return 'Yangon'
    elif branch == 'B':
        return 'Mandalay'
    elif branch == 'C':
        return 'Naypyitaw'
    else:
        return None

# Apply the function to create the new 'City' column
df_clean['City'] = df_clean['Branch'].apply(branch_to_city)

In [ ]:
c = ['Mandalay', 'Naypyitaw', 'Yangon']
df_clean.drop(c, axis=1, inplace=True)

C- Test :

In [ ]:
df_clean.head()

,Invoice ID,Branch,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,Rating,City
0,750678428,A,Normal,Male,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,13:08,Ewallet,9.1,Yangon
1,226313081,C,Normal,Male,Electronic accessories,15.28,5,3.8200,80.2200,3/8/2019,10:29,Cash,9.6,Naypyitaw
2,631413108,A,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,3/3/2019,13:23,Credit card,7.4,Yangon
3,123191176,A,Normal,Male,Health and beauty,58.22,8,23.2880,489.0480,1/27/2019,20:30,Ewallet,8.4,Yangon
4,373737910,A,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,2/8/2019,10:37,Ewallet,5.3,Yangon

In [ ]:
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1000 entries, 0 to 999
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Invoice ID     1000 non-null   object
 1   Branch         1000 non-null   object
 2   Customer type  1000 non-null   object
 3   Gender         1000 non-null   object
 4   Product line   1000 non-null   object
 5   Unit price     1000 non-null   float64
 6   Quantity       1000 non-null   int64
 7   Tax 5%         1000 non-null   float64
 8   Total          1000 non-null   float64
 9   Date           1000 non-null   object
 10  Time           1000 non-null   object
 11  Payment        1000 non-null   object
 12  Rating         1000 non-null   float64
 13  City           1000 non-null   object
dtypes: float64(4), int64(1), object(9)
memory usage: 149.5+ KB

In [ ]:
df_clean.describe()

        Unit price     Quantity       Tax 5%        Total      Rating
count  1000.000000  1000.000000  1000.000000  1000.000000  1000.00000
mean     55.672130     5.510000    15.379369   322.966749     6.97270
std      26.494628     2.923431    11.708825   245.885335     1.71858
min      10.080000     1.000000     0.508500    10.678500     4.00000
25%      32.875000     3.000000     5.924875   124.422375     5.50000
50%      55.230000     5.000000    12.088000   253.848000     7.00000
75%      77.935000     8.000000    22.445250   471.350250     8.50000
max      99.960000    10.000000    49.650000  1042.650000    10.00000

#4- Data Storing

In [ ]:
df_clean.to_csv('Cleaned_data.csv')